---
layout: default
title: Home
---

<h2>Frontmatter</h2>
<div class="wrapper">
<ul class="entries">
  {% for post in site.posts %}
  {% if post.low != 'low' %}
    <li>
      <a href="{% if post.title %} {{ site.baseurl}}{{ post.url }} {% endif %}">
         <img src="{{ post.image }}" />
        <h3>{{ post.title }}</h3>
        <p>{{ post.title_real }}</p>
      </a>
    </li>
  {% endif %}
  {% endfor %}
</ul>
</div>

<hr>

<div class="wrapper">
<h2>Network, Embedded device, and Hardware development</h2>
<ul class="entries">
  {% for post in site.posts %}
  {% if post.low == 'low' %}
    <li>
      <a href="{% if post.title %} {{ site.baseurl }}{{ post.url }} {% endif %}">
         <img src="{{ post.image }}" />
        <h3>{{ post.title }}</h3>
        <p>{{ post.title_real }}</p>
      </a>
    </li>
  {% endif %}
  {% endfor %}
</ul>
</div>

<hr>
<div class="wrapper">
<section>
    Oh..La~
</section>

<section>
    <h3>亓</h3>
    <p>還在</p>
    <pre><code>$Coding~ing_ding-ding</code></pre>
</section>

<section class="content">
  <h2>Commencement</h2>

  <p>Life is hehely JOKING.</p>
</section>

</div>
