<!DOCTYPE html>
<html lang="en">

    {% include header.html %}

    <body>
        <header>
            <h1>Moi Blogue</h1>
            <p>Blaying around</p>
        </header>

        <div id="banner">
            <span id="logo"></span>

            <!-- <a href="{{ site.baseurl }}/" class="button fork"><strong>Page d'accueil</strong></a> -->
            <a href="{{ site.baseurl }}/" class="button fork"><strong>Home</strong></a>

            <div class="downloads"> <!-- TODO: -->
                <span>Section:</span>
                <ul>
                    <li><a href="{{ site.baseurl }}/article" class="button">Article</a></li>
                    <li><a href="{{ site.baseurl }}/portefeuille" class="button">Portefeuille</a></li>
                    <!-- <li><a href="{{ site.baseurl }}/about" class="button">A propos de moi</a></li> -->
                    <li><a href="http://tao-j.me" class="button">About</a></li>
                </ul>
            </div>
        </div><!-- end banner -->

        <div class="wrapper">
            <section>

                {{ content }}

            </section>
        </div>

        {% include footer.html %}

    </body>
</html>
