<!DOCTYPE html>
<html lang="en">

    {% include header.html %}


    <body>
        <header>
            <h1>Mon Blogue</h1>
            <p>C&#39;est mon Blogue ----- T&amp;Moi</p>
        </header>

        <div id="banner">
            <span id="logo"></span>

            <a href="{{ site.baseurl}}/" class="button fork"><strong>Page d'accueil</strong></a>

            <div class="downloads"> <!-- TODO: -->
                <span>Section:</span>
                <ul>
                    <li><a href="{{ site.baseurl}}/articles" class="button">Articles</a></li>
                    <li><a href="{{ site.baseurl}}/portfolio" class="button">Portilio</a></li>
                    <li><a href="{{ site.baseurl}}/about" class="button">About</a></li>
                </ul>
            </div>
        </div><!-- end banner -->

        <div class="wrapper">
            <section>

                {{ content }}

            </section>
        </div>

        {% include footer.html %}
    </body>
</html>